.chart ul {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  list-style: none;
}

@media (max-width: 768px) {
  .chart ul {
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 375px) {
  .chart ul {
    justify-content: center;
    gap: 5px;
  }
}
