.outer {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  height: 200px;
  width: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.inner {
  background-color: rgba(14, 1, 19, 0.9);
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: 500ms ease-out;
}

span {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: #fefefe;
}

@media (max-width: 768px) {
  .outer {
    width: 15px;
  }

  span {
    font-size: 0.75rem;
  }
}

@media (max-width: 375px) {
  .outer {
    width: 10px;
  }
}
